
body{
  background-color: cadetblue;
}

.CursorPosition>h6:hover, .CursorPosition i:hover, .AlreadyAccount:hover, th>.Action:hover .DeleteAction:hover{
  cursor: pointer;
}


.nav-link {
  color: #28738d !important;
  text-decoration: none !important;
  margin-top: 10px;
}

a:hover{
  text-decoration: none;
}

.Action:hover{
  cursor: pointer;
}